@model RecipeViewModel

<div>New recipe</div>

<form asp-action="AddNewRecipe" method="post" class="" role="form">

    <div>
        <label asp-for="Recipe.Name">Recipe name</label>
        <input asp-for="Recipe.Name" />
    </div>

    <div>Ingredients:</div>
    <div id="Ingredients">
        <div id="0">
            <div>
                <label asp-for="Recipe.Ingredients[0].Name">Name</label>
                <input asp-for="Recipe.Ingredients[0].Name" id="ingredient-name-0" />
            </div>
            <div>
                <label asp-for="Recipe.Ingredients[0].Amount">Amount</label>
                <input asp-for="Recipe.Ingredients[0].Amount" id="ingredient-amount-0" />
            </div>
            <div>
                <label asp-for="Recipe.Ingredients[0].MeasuringUnit">MeasuringUnit</label>
                <input asp-for="Recipe.Ingredients[0].MeasuringUnit" id="ingredient-measuringUnit-0" />
            </div>
            <img src="~/images/delete-icon.png" alt="Delete!" style="height: 30px; width: 25px" onclick="deleteIngredient()">
        </div>
    </div>
    <img src="~/images/plus-icon.png" alt="New ingredient" id="addInputsForIngredient" style="height: 30px; width: 25px">

    <div class="name">Steps:</div>
    <div id="Steps">
        <div id="0">
            <div>
                <label asp-for="Recipe.Steps[0].Order">Order</label>
                <input asp-for="Recipe.Steps[0].Order" id="step-order-0" />
            </div>
            <div>
                <label asp-for="Recipe.Steps[0].Description">StepDescription</label>
                <input asp-for="Recipe.Steps[0].Description" id="step-input-0" />
            </div>
            <img src="~/images/up-arrow.png" style="height: 30px; width: 25px" alt="Up!" onclick="upButton()">
            <img src="~/images/down-arrow.png" style="height: 30px; width: 25px" alt="Down!" onclick="downButton()">
            <img src="~/images/delete-icon.png" alt="Delete!" style="height: 30px; width: 25px" onclick="deleteStep()">
        </div>
    </div>
    <img src="~/images/plus-icon.png" alt="New step" style="height: 30px; width: 25px" onclick="addInputsForStep()"/>
    <br />
    <input type="submit" class="btn btn-primary" value="Add recipe" />
</form>

<script>
    $(document).ready(function () {
        $("#addInputsForIngredient").click(addInputsForIngredient);
    });

    var ingredientNum = 0;

    function addInputsForIngredient() {
        ingredientNum += 1;

        var ingredientDiv = document.createElement("div");
        ingredientDiv.id = ingredientNum;

        var div1 = document.createElement("div");
        var labelName = document.createElement("label");
        labelName.htmlFor = 'Recipe.Ingredients[' + ingredientNum + '].Name';
        labelName.innerHTML = "Name";
        var inputName = document.createElement("input");
        inputName.htmlFor = 'Recipe.Ingredients[' + ingredientNum + '].Name';
        inputName.name = 'Recipe.Ingredients[' + ingredientNum + '].Name';
        inputName.id = 'ingredient-name-' + ingredientNum;
        div1.appendChild(labelName);
        div1.appendChild(inputName);

        var div2 = document.createElement("div");
        var labelAmount = document.createElement("label");
        labelAmount.htmlFor = 'Recipe.Ingredients[' + ingredientNum + '].Amount';
        labelAmount.innerHTML = "Amount";
        var inputAmount = document.createElement("input");
        inputAmount.htmlFor = 'Recipe.Ingredients[' + ingredientNum + '].Amount';
        inputAmount.name = 'Recipe.Ingredients[' + ingredientNum + '].Amount';
        inputAmount.id = 'ingredient-amount-' + ingredientNum;
        div2.appendChild(labelAmount);
        div2.appendChild(inputAmount);

        var div3 = document.createElement("div");
        var labelMeasuringUnit = document.createElement("label");
        labelMeasuringUnit.htmlFor = 'Recipe.Ingredients[' + ingredientNum + '].MeasuringUnit';
        labelMeasuringUnit.innerHTML = "MeasuringUnit";
        var inputMeasuringUnit = document.createElement("input");
        inputMeasuringUnit.htmlFor = 'Recipe.Ingredients[' + ingredientNum + '].MeasuringUnit';
        inputMeasuringUnit.name = 'Recipe.Ingredients[' + ingredientNum + '].MeasuringUnit';
        inputMeasuringUnit.id = 'ingredient-measuringUnit-' + ingredientNum;
        div3.appendChild(labelMeasuringUnit);
        div3.appendChild(inputMeasuringUnit);

        var img1 = document.createElement("img");
        img1.src = "/images/delete-icon.png";
        img1.alt = "Delete!";
        img1.style = "height: 30px; width: 25px";
        img1.onclick = deleteIngredient;

        ingredientDiv.appendChild(div1);
        ingredientDiv.appendChild(div2);
        ingredientDiv.appendChild(div3);
        ingredientDiv.appendChild(img1);

        document.getElementById("Ingredients").appendChild(ingredientDiv);
    }

    function deleteIngredient() {
        if (ingredientNum > 0) {
            var ingredientId = event.srcElement.parentElement.id;

            var k;
            for (var k = parseInt(ingredientId); k < $("#Ingredients").children().length - 1; k++) {
                kNext = k + 1;
                $("#ingredient-name-" + k).val($("#ingredient-name-" + kNext).val());
                $("#ingredient-amount-" + k).val($("#ingredient-amount-" + kNext).val());
                $("#ingredient-measuringUnit-" + k).val($("#ingredient-measuringUnit-" + kNext).val());
            }

            $("#Ingredients").children().last().remove();
            ingredientNum -= 1;
        }
        }

    var stepNum = 0;

    function addInputsForStep() {
        stepNum += 1;

        var stepDiv = document.createElement("div");
        stepDiv.id = stepNum;

        var div1 = document.createElement("div");
        var labelOrder = document.createElement("label");
        labelOrder.htmlFor = 'Recipe.Steps[' + stepNum + '].Order';
        labelOrder.innerHTML = "Order";
        var inputOrder = document.createElement("input");
        inputOrder.htmlFor = 'Recipe.Steps[' + stepNum + '].Order';
        inputOrder.name = 'Recipe.Steps[' + stepNum + '].Order';
        inputOrder.id = 'step-order-' + stepNum;
        div1.appendChild(labelOrder);
        div1.appendChild(inputOrder);

        var div2 = document.createElement("div");
        var labelDescription = document.createElement("label");
        labelDescription.htmlFor = 'Recipe.Steps[' + stepNum + '].Description';
        labelDescription.innerHTML = "StepDescription";
        var inputDescription = document.createElement("input");
        inputDescription.htmlFor = 'Recipe.Steps[' + stepNum + '].Description';
        inputDescription.name = 'Recipe.Steps[' + stepNum + '].Description';
        inputDescription.id = 'step-input-' + stepNum;
        div2.appendChild(labelDescription);
        div2.appendChild(inputDescription);

        var img1 = document.createElement("img");
        img1.src = "/images/up-arrow.png";
        img1.alt = "Up!";
        img1.style = "height: 30px; width: 25px";
        img1.onclick = upButton;

        var img2 = document.createElement("img");
        img2.src = "/images/down-arrow.png";
        img2.alt = "Down!";
        img2.style = "height: 30px; width: 25px";
        img2.onclick = downButton;

        var img3 = document.createElement("img");
        img3.src = "/images/delete-icon.png";
        img3.alt = "Delete!";
        img3.style = "height: 30px; width: 25px";
        img3.onclick = deleteStep;

        stepDiv.appendChild(div1);
        stepDiv.appendChild(div2);

        stepDiv.appendChild(div1);
        stepDiv.appendChild(div2);
        stepDiv.appendChild(img1);
        stepDiv.appendChild(img2);
        stepDiv.appendChild(img3);

        document.getElementById("Steps").appendChild(stepDiv);
        }

    function deleteStep() {
        if (stepNum > 0) {
            var stepId = event.srcElement.parentElement.id;

            var k;
            for (k = parseInt(stepId); k < $("#Steps").children().length - 1; k++) {
                kNext = k + 1;
                $("#step-input-" + k).val($("#step-input-" + kNext).val());
                $("#step-order-" + k).val($("#step-order-" + kNext).val());
            }

            $("#Steps").children().last().remove();
            stepNum -= 1;
        }
        }

    function downButton() {
        var stepId = event.srcElement.parentElement.id;
        console.log("POMAKNI DOLE ID = " + stepId);

        if ($("#Steps").children().last().attr('id') != $("#Steps").children().get(parseInt(stepId)).id) {
            var nextStepId = event.srcElement.parentElement.nextElementSibling.id;
            var str = $("#step-input-" + stepId).val();
            var order = $("#step-order-" + stepId).val();
            $("#step-input-" + stepId).val($("#step-input-" + nextStepId).val());
            $("#step-input-" + nextStepId).val(str);
            $("#step-order-" + stepId).val($("#step-order-" + nextStepId).val());
            $("#step-order-" + nextStepId).val(order);
            console.log("pomaknuo sam ih dole");
        }
    }

    function upButton() {
        var stepId = event.srcElement.parentElement.id;
        console.log("POMAKNI gore ID = " + stepId);

        if ($("#Steps").children().first().attr('id') != $("#Steps").children().get(parseInt(stepId)).id) {
            var previousStepId = event.srcElement.parentElement.previousElementSibling.id;
            var str = $("#step-input-" + previousStepId).val();
            console.log("str = " + str);
            var order = $("#step-order-" + previousStepId).val();
            console.log("order = " + order);
            $("#step-input-" + previousStepId).val($("#step-input-" + stepId).val());
            $("#step-input-" + stepId).val(str);

            $("#step-order-" + previousStepId).val($("#step-order-" + stepId).val());
            $("#step-order-" + stepId).val(order);
            console.log("pomaknuo sam ih gore");
        }
    }
</script>