@model HomeViewModel
<h1>Recipes</h1>

@if (Model.Recipes.Count == 0)
{
    <span>No recipes for display</span>
}
else
{
    foreach (var recipe in Model.Recipes)
    {
        <div>
            <h4 onclick="showRecipe(@recipe.Id)">Name: @recipe.Name</h4>
        </div>
    }
}

<script>
   function showRecipe(recipeId) {
        console.log("Ucitaj recept sa ID= " + recipeId);

        window.location.href = "/Recipe/?recipeId=" + recipeId;
    }
</script>
