@model HomeViewModel
<h1>Recipes</h1>

@if (Model.Recipes.Count == 0)
{
    <span>No recipes for display</span>
}
else
{
    foreach (var recipe in Model.Recipes)
    {
        <div>
            <h4>Name: @recipe.Name</h4>

           <table class="element">
                <thead>
                    <tr>
                        <th scope="col">Ingridients</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ingredient in recipe.Ingredients)
                    { 
                        <tr>
                            <td>@ingredient.Amount</td>
                            <td>@ingredient.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}


