@model HomeViewModel
<div class="flex-container-column">
    <form asp-action="Search" method="get" role="form" class="section">
        <div class="subtitle">
            Search by:
        </div>
        <div class="">
            <label asp-for="searchByName" class="label">
                Recipe name:
            </label>
            <input asp-for="searchByName" class="form-control" />

            <label asp-for="searchByIngredient" class="label">
                Ingredient:
            </label>
            <input asp-for="searchByIngredient" class="form-control" />

            <div class="buttons">
                <input type="submit" class="btn color" value="Search" />
            </div>
        </div>
    </form>
    <div>
        <div class="section">
            <div class="title">Recipes</div>
            <div id="Recipes">
                @if (Model.Recipes.Count == 0)
                {
                    <span>No recipes for display</span>
                }
                else
                {
                    foreach (var recipe in Model.Recipes)
                    {
                        <div class="recipe" id=@recipe.Id>
                            Name: @recipe.Name
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".recipe").on('click', function (e) {
            showRecipe(e.target.id);
        });
    });

    function showRecipe(recipeId) {
        window.location.href = "/Recipe/?recipeId=" + recipeId;
    }
</script>
