@model HomeViewModel
<div id="searchedIngredients" hidden>
    @foreach (var ingredient in Model.searchByIngredients)
    {
        <input id="@ingredient.Name"  value="@ingredient.Amount" name="@ingredient.MeasuringUnit"/>
    }
</div>

<div class="flex-container-column">
    <div>
        <form asp-action="Search" method="get" role="form" class="section">
            <div class="subtitle">
                Search by:
            </div>

            <div class="oneRow">
                <label asp-for="searchByName" class="label">
                    Recipe name:
                </label>
                <input asp-for="searchByName" class="form-control" />
            </div>

            <label class="label">Ingredients:</label>
            <div class="flex-container-column">
                <div id="Ingredients">
                </div>
                <img src="~/images/plus-icon.png" class="icon color" alt="More ingredients!" id="addInputsForIngredient">
            </div>

            <div class="buttons">
                <input type="submit" class="btn color" value="Search" />
            </div>
        </form>

        <div>
            <div class="section">
                <div class="title">Recipes</div>
                <div id="Recipes">
                    @if (Model.Recipes.Count == 0)
                    {
                        <span>No recipes for display</span>
                    }
                    else
                    {
                        foreach (var recipe in Model.Recipes)
                        {
                            <div class="recipe" id=@recipe.Id>
                                Name: @recipe.Name
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".recipe").on('click', function (e) {
            showRecipe(e.target.id);
        });

        $("#addInputsForIngredient").click(addInputsForIngredient);

        reloadSearchedIngredients();
    });

    function showRecipe(recipeId) {
        var ingredients = [];
        $("#searchedIngredients").children().each(function () {
            var ingredient = {
                name: $(this).attr("id"),
                amount: $(this).val(),
                measuringUnit: $(this).attr("name")
            };
            ingredients.push(ingredient);
        });

        var parametri = {
            recipeId: recipeId,
            searchIngredients: JSON.stringify(ingredients),
        };

        window.location.href = "/Recipe/?" + $.param(parametri);
    }

    var ingredientNum = -1;
    function addInputsForIngredient() {
        ingredientNum++; 

        var ingredientDiv = document.createElement("div");
        ingredientDiv.id = "ingredient-" + ingredientNum;
        ingredientDiv.className = "oneRow";

        var ingredientLabel = document.createElement("label");
        ingredientLabel.className = "label";
        var ingredientOrder = ingredientNum + 1;
        ingredientLabel.innerText = ingredientOrder + ".";

        var nameInput = document.createElement("input");
        nameInput.name = "searchByIngredients[" + ingredientNum + "].Name";
        nameInput.id = "search-by-ingredients-name-" + ingredientNum;
        nameInput.className = "form-control";
        nameInput.placeholder = "Ingredient"; 

        var amountInput = document.createElement("input");
        amountInput.name = "searchByIngredients[" + ingredientNum + "].Amount";
        amountInput.id = "search-by-ingredients-amount-" + ingredientNum;
        amountInput.className = "form-control";
        amountInput.placeholder = "Amount";

        var measuringUnitInput = document.createElement("input");
        measuringUnitInput.name = "searchByIngredients[" + ingredientNum + "].MeasuringUnit";
        measuringUnitInput.id = "search-by-ingredients-measuringunit-" + ingredientNum;
        measuringUnitInput.className = "form-control";
        measuringUnitInput.placeholder = "Measuring unit";

        var img = document.createElement("img");
        img.src = "/images/delete-icon.png";
        img.alt = "Delete!";
        img.className = "icon color";
        img.onclick = deleteIngredient;

        ingredientDiv.appendChild(ingredientLabel);
        ingredientDiv.appendChild(nameInput);
        ingredientDiv.appendChild(amountInput);
        ingredientDiv.appendChild(measuringUnitInput);
        ingredientDiv.appendChild(img);

        document.getElementById("Ingredients").appendChild(ingredientDiv);
    }

    function deleteIngredient() {
        if (ingredientNum >= 0) {
            var ingredientId = event.srcElement.parentElement.id;

            var i = 0;
            while ($("#Ingredients").children().get(i).id != ingredientId) i++;

            var k;
            for (var k = i; k < $("#Ingredients").children().length - 1; k++) {
                kNext = k + 1;
                $("#search-by-ingredients-name-" + k).val($("#search-by-ingredients-name-" + kNext).val());
                $("#search-by-ingredients-amount-" + k).val($("#search-by-ingredients-amount-" + kNext).val());
                $("#search-by-ingredients-measuringunit-" + k).val($("#search-by-ingredients-measuringunit-" + kNext).val());
            }

            $("#Ingredients").children().last().remove();
            ingredientNum -= 1;
        }
    }

    function reloadSearchedIngredients()
    {
        if ($("#searchedIngredients").children().length == 0) addInputsForIngredient();
        else {
            $("#searchedIngredients").children().each(function () {
                ingredientNum++;

                var ingredientDiv = document.createElement("div");
                ingredientDiv.id = "ingredient-" + ingredientNum;
                ingredientDiv.className = "oneRow";

                var ingredientLabel = document.createElement("label");
                ingredientLabel.className = "label";
                var ingredientOrder = ingredientNum + 1;
                ingredientLabel.innerText = ingredientOrder + ".";

                var nameInput = document.createElement("input");
                nameInput.name = "searchByIngredients[" + ingredientNum + "].Name";
                nameInput.id = "search-by-ingredients-name-" + ingredientNum;
                nameInput.className = "form-control";
                nameInput.placeholder = "Ingredient";
                nameInput.value = $(this).attr("id");

                var amountInput = document.createElement("input");
                amountInput.name = "searchByIngredients[" + ingredientNum + "].Amount";
                amountInput.id = "search-by-ingredients-amount-" + ingredientNum;
                amountInput.className = "form-control";
                amountInput.placeholder = "Amount";
                amountInput.value = $(this).val();

                var measuringUnitInput = document.createElement("input");
                measuringUnitInput.name = "searchByIngredients[" + ingredientNum + "].MeasuringUnit";
                measuringUnitInput.id = "search-by-ingredients-measuringunit-" + ingredientNum;
                measuringUnitInput.className = "form-control";
                measuringUnitInput.value = $(this).attr("name");

                measuringUnitInput.placeholder = "Measuring unit";
                var img = document.createElement("img");
                img.src = "/images/delete-icon.png";
                img.alt = "Delete!";
                img.className = "icon color";
                img.onclick = deleteIngredient;

                ingredientDiv.appendChild(ingredientLabel);
                ingredientDiv.appendChild(nameInput);
                ingredientDiv.appendChild(amountInput);
                ingredientDiv.appendChild(measuringUnitInput);
                ingredientDiv.appendChild(img);

                document.getElementById("Ingredients").appendChild(ingredientDiv);
            });
        }
    }
</script>
