@model HomeViewModel
<div class="flex-container-column">
    <div>
        <div class="section">
            <div class="title">Recipes</div>
            <div id="Recipes">
                @if (Model.Recipes.Count == 0)
                {
                    <span>No recipes for display</span>
                }
                else
                {
                    foreach (var recipe in Model.Recipes)
                    {
                        <div class="recipe" id=@recipe.Id>
                            Name: @recipe.Name
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".recipe").on('click', function (e) {
            showRecipe(e.target.id);
        });
    });

    function showRecipe(recipeId) {
        window.location.href = "/Recipe/?recipeId=" + recipeId;
    }
</script>
